<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
<div ng-hide="ctrl.editMode">
    <div class="col-sm-12">

        <div  ng-repeat="record in records"  ng-hide="{{record.id !== ctrl.getSelectedProductId()}}">
            <div class="well text-center">
                <div class="col-md-4">
                    <div class="img-thumbnail" id="cover" ng-if="record.vehicle.image">
                        <a ng-href="{{record.vehicle.image}}" target="_blank"><img class="img-responsive" style="height: 20vw;" ng-src="{{record.vehicle.image}}" alt="{{record.vehicle.image}}"></a>
                    </div>
                </div>
                <div class="caption col-md-6" align="left">
                    <h1>{{record.vehicle.name}}</h1>
                    <p><strong>Brand:</strong> {{record.vehicle.brand}}</p>
                    <p><strong>Model:</strong> {{record.vehicle.model}}</p>
                    <p ng-hide="{{record.vehicle.plate == False}}"><strong>Plate:</strong> Par </p>
                    <p ng-show="{{record.vehicle.plate == True}}"><strong>Plate:</strong> Impar </p>
                    <p><strong>Location:</strong> {{record.vehicle.location}}</p>
                    <p><strong>Desciption:</strong> {{record.vehicle.description}}</p>
                    <p><strong>Price:</strong> {{record.price| currency}}</p>
                    <p ng-hide="{{record.discount == null}}"><strong>Discount:</strong> {{record.discount}} %</p>
                    <p><strong>Provider:</strong> {{record.provider.name}}</p>
                </div>
                <div class="col-md-2">
                    <div ng-if="(record.rating)">
                        <p ><strong>Rating: </strong> {{record.rating}}/5 ({{record.ammountVotes}})</p>
                    </div>
                    <button style="margin:2px;" id="rate-btn" class="btn btn-info btn-sm" ng-click="rateProduct()">
                        Rate this product?
                    </button>
                </div>
                <div class="col-md-12">
                    <p class="text-center">
                        <button ng-repeat="action in ctrl.recordActions" style="margin:2px;" id="{{$parent.$index}}-{{action.name}}-btn" 
                                class="btn btn-{{action.class|| 'default'}} btn-sm" ng-show="action.show()" data-toggle="{{action.dataToggle}}" 
                                data-target="{{action.dataTarget}}" ng-click="action.fn(record)">
                            <span class="glyphicon glyphicon-{{action.icon}}"></span> 
                            {{action.displayName}}
                        </button>
                    </p>
                </div>
                <div class="well text-center">

                    <textarea id="commentInput"  placeholder="Write your comment" class="form-control" style="width: 500px ;margin: 0 auto;" ng-model="ctrl.comment"> </textarea>

                    <button type="button" class="btn btn-primary" ng-click="ctrl.sendComment(record)">
                        <span class="glyphicon glyphicon-message-plus"></span>
                        Send
                    </button>

                </div>



            </div>
            <h4><strong>PRODUCT COMMENTS </strong></h4>
            <p ng-show="{{record.comments[0] == null}}"> This product has no comments yet. </p>
            <div class="caption" ng-repeat="comment in record.comments">
                <h5><strong>{{comment.client.name}}</strong>  ({{comment.date| date}})</h5>
                <p><i> {{comment.description}}</i></p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <pagination ng-show="ctrl.numPages > 1" num-pages="ctrl.numPages" total-items="ctrl.totalItems"
                    ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" items-per-page="ctrl.itemsPerPage"
                    max-size="ctrl.maxSize" class="pagination-md" boundary-links="true" rotate="false"></pagination>
    </div>
</div>


<!-- Vista del modal Calificar producto-->
<div class="modal fade" id="rateProduct" role="dialog">
    <!-- Definicion del espacio del modal -->
    <div class="modal-dialog">
        <!-- Contenido definido para el Modal -->  
        <div class="modal-content">
            <!-- Encabezado -->
            <div class="modal-header">
                <!-- Boton de cerrado -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Titulo del Modal -->
                <h4 class="modal-title" id = "titleModal">Rate this product</h4>
            </div>
            <!-- Definicion del formulario de la orden -->
            <div ng-init="rating = star.rating + 1"></div>

            <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
            <form id="experienceForm" method="post" class="form-horizontal" ng-submit="rateProduct()">
                <!-- Forma del Formulario para la pregunta -->
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label  class="col-md-6 control-label">Your rating: </label>
                            <label  class="col-md-6 control-label">{{rating}} </label>
                        </div>
                    </div>         
                </div>
                <!-- Footer del formulario -->
                <div class="modal-footer">
                    <!-- Boton de Close para cancelar-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- Boton de Gusrdar-->
                    <button type="button" class="btn btn-success" ng-click="saveRating()"><span class="glyphicon glyphicon-save"></span> Submit</button>
                </div>
            </form>
            
        </div>

    </div>
</div>