<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
<div ng-hide="ctrl.editMode" id="productdiv">
    <div class="col-sm-12">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Advanced search</h3>
                </div>
                <div class="panel-body" data-ng-init="getFilters()">
                    <table>
                        <tr>
                            <td>
                                <label>Brand</label>                                                    
                            </td>
                            <td style="padding: 10px">      
                                <select class="form-control" placeholder="Brand" ng-model="brandFilter">
                                    <option value="">Search Brand</option>
                                    <option ng-repeat="vBrand in vehicleBrands" value="{{vBrand.name}}">{{vBrand.name}}</option>
                                </select>                                                      
                            </td>                            
                        </tr>                                
                        <tr>
                            <td>
                                <label>Capacity</label>                                
                            </td>
                            <td style="padding: 10px">      
                                <select class="form-control" ng-model="capacityFilter">
                                    <option value="">Search Capacity</option>
                                    <option ng-repeat="vCapacity in vehicleCapacities" value="{{vCapacity.name}}">{{vCapacity.name}}</option>
                                </select>                                  
                            </td>                            
                        </tr>     
                        <tr>
                            <td>
                                <label>Color</label>                              
                            </td>
                            <td style="padding: 10px">
                                <select class="form-control" ng-model="colorFilter">
                                    <option value="">Search Color</option>
                                    <option ng-repeat="vColor in vehicleColors" value="{{vColor.name}}">{{vColor.name}}</option>
                                </select>                                   
                            </td>                            
                        </tr>     
                        <tr>
                            <td>
                                <label>Model</label>

                            </td>
                            <td style="padding: 10px">      
                                <select class="form-control" ng-model="modelFilter">
                                    <option value="">Search Model</option>
                                    <option ng-repeat="vModel in vehicleModels" value="{{vModel.name}}">{{vModel.name}}</option>
                                </select>  
                            </td>                            
                        </tr>     
                        <tr>
                            <td>
                                <label>Plate</label>                                                    
                            </td>
                            <td style="padding: 10px">  
                                <select class="form-control" ng-model="plateFilter">
                                    <option value="">Search Plate</option>
                                    <option ng-repeat="vPlate in vehiclePlates" value="{{vPlate.name}}">{{vPlate.name}}</option>
                                </select>                                  
                            </td>                            
                        </tr>   
                        <tr>
                            <td>
                                <label>Location</label>                                                    
                            </td>
                            <td style="padding: 10px">  
                                <select class="form-control" ng-model="locationFilter">
                                    <option value="">Search Location</option>
                                    <option ng-repeat="vLocation in vehicleLocations" value="{{vLocation.name}}">{{vLocation.name}}</option>
                                </select>                                  
                            </td>                            
                        </tr>                          
                        <tr>
                            <td>
                                <label>Price</label>                                                    
                            </td>
                            <td style="padding: 10px">  
                                <select class="form-control" ng-model="priceFilter">
                                    <option value="">Search Price</option>
                                    <option value="1">Less than $10.000.000</option>
                                    <option value="2">Between $10.000.000 and $99.000.000</option>
                                    <option value="3">Greater than $99.000.000</option>
                                </select>                                  
                            </td>                            
                        </tr>                           
                    </table>                                          
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn btn-primary" ng-click="getProductsByAdvancedSearch()">Go to find!</button>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <form novalidate class="navbar-form navbar-left" role="search">
                    <table >
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="to search" ng-model="text2Search" required>
                                </div>
                                <button class="btn btn-default" ng-model="buttonSub" ng-click="listItems()" ng-show="true" ng-disabled="varEnable">Submit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <label>
                                        <input type="radio" name="searhcriteria" ng-model="searchCriteria" value="byProvider" ng-change="enableSubmit()">
                                        Search cheaper product by provider 
                                    </label>

                                </div>            
                            </td>
                        </tr> 
                        <tr>
                            <td>        
                                <label>
                                    <input type="radio" name="searhcriteria" ng-model="searchCriteria" value="byVehicle" ng-change="enableSubmit()">
                                    Search cheaper provider by vehicle 
                                </label></td>
                        </tr>
                    </table>
                </form>                    
            </div>
        </div>
        <div class="col-md-9">
            <div ng-show="!records.length" class="alert alert-warning" role="alert">
                Products not found according to your request! Try another criteria in advanced search.
            </div>
            <div ng-repeat="record in records">
                <div class="col-sm-4 well text-center">
                    <div class="col-md-12">
                        <div class="img-thumbnail text-center" id="cover" ng-if="record.vehicle.image">
                            <a ng-href="#/detail" ng-click="ctrl.selectProduct(record)">
                                <img class="img-responsive" style="height: 14vw;" ng-src="{{record.vehicle.image}}" alt="{{record.vehicle.image}}">
                            </a>
                        </div>
                    </div>
                    <div class="caption" >
                        <p><strong>Vehicle:</strong> {{record.vehicle.name}}</p>
                        <p><strong>Price:</strong> {{record.price| currency}}</p>
                        <p ng-hide="{{record.discount == null}}"><strong>Discount:</strong> {{record.discount}} %</p>
                        <p ng-show="{{record.discount == null}}"><strong>Discount:</strong> 0 % </p>
                        <p><strong>Provider:</strong> {{record.provider.name}}</p>
                    </div>
                    <p class="text-center">
                        <button ng-repeat="action in ctrl.recordActions" style="margin:2px;" id="{{$parent.$index}}-{{action.name}}-btn" 
                                class="btn btn-{{action.class|| 'default'}} btn-sm" ng-show="action.show()" data-toggle="{{action.dataToggle}}" 
                                data-target="{{action.dataTarget}}" ng-click="action.fn(record)">
                            <span class="glyphicon glyphicon-{{action.icon}}"></span> 
                            {{action.displayName}}
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal dialog for reviews -->
        <div class="modal fade" id="modalReviews" tabindex="-1" role="dialog" aria-labelledby="modalReviewLabel" aria-hidden="true">
            <div ng-show="ctrl.detailsMode" ng-if="vehicleRecord">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" ng-click="ctrl.detailsMode = false" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="modalReviewLabel">
                                Reviews for {{vehicleRecord.name}}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group" ng-repeat="review in vehicleRecord.reviews">
                                <li class="list-group-item">
                                    {{review.description}} <br /> <em>{{review.source}}</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" 
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Ask a question to the provider
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="questionInput">Question</label>
                                <textarea id="questionInput"  placeholder="Write your question" class="form-control" style="resize: none;" ng-model="ctrl.question"> </textarea>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="ctrl.sendQuestion()">
                                <span class="glyphicon glyphicon-message-plus"></span>
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <pagination ng-show="ctrl.numPages > 1" num-pages="ctrl.numPages" total-items="ctrl.totalItems"
                    ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" items-per-page="ctrl.itemsPerPage"
                    max-size="ctrl.maxSize" class="pagination-md" boundary-links="true" rotate="false"></pagination>
    </div>
</div>
<a  href="#/detail" ng-click="ctrl.selectProduct(record)">
    <img class="img-responsive" style="height: 20vw;" ng-src="{{record.vehicle.image}}" alt="{{record.vehicle.image}}">
</a>
<div class="img-thumbnail" id="cover" ng-if="record.vehicle.image">
</div>