<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <title>mpUsedVehicle</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>-->
        <script src="underscore-min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://vitalets.github.io/angular-xeditable/dist/css/xeditable.css" rel="stylesheet"/>
        <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-mocks.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-cookies.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script src="restangular.min.js" type="text/javascript"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js"></script>
        <script src="https://rawgit.com/recursosCSWuniandes/ng-crud/master/dist/ngcrud.min.js"></script>
        <script src="https://rawgit.com/recursosCSWuniandes/ng-crud/master/dist/ngcrud-mocks.min.js"></script>
        <script src="https://rawgit.com/recursosCSWuniandes/ng-crud-auth/master/dist/ngcrud-auth.min.js"></script>
        <script src="http://vitalets.github.io/angular-xeditable/dist/js/xeditable.min.js"></script>
<!--        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>-->
        <script type="text/javascript" src="http://rawgithub.com/sthomp/angular-blurred-modal/master/st-blurred-dialog.js"></script>
        <link rel="stylesheet" href="http://rawgithub.com/sthomp/angular-blurred-modal/master/st-blurred-dialog.css">
        <link href="css/mp-cars.css" rel="stylesheet" type="text/css"/>
        <link href="css/rating.css" rel="stylesheet" type="text/css"/>
        <script src="src/app.js"></script>

        <script src="src/modules/admin/user.mod.js"></script>
        <script src="src/modules/admin/user.svc.js"></script>
        <script src="src/modules/admin/user.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/cartItem/cartItem.mod.js"></script>
        <script src="src/modules/cartItem/cartItem.svc.js"></script>
        <script src="src/modules/cartItem/cartItem.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/client/client.mod.js"></script>
        <script src="src/modules/client/client.svc.js"></script>
        <script src="src/modules/client/client.ctrl.js"></script>

        <script src="src/modules/product/product.mod.js"></script>
        <script src="src/modules/product/product.svc.js"></script>
        <script src="src/modules/product/product.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/messages/message.mod.js"></script>
        <script src="src/modules/messages/message.svc.js"></script>
        <script src="src/modules/messages/message.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/provider/provider.mod.js"></script>
        <script src="src/modules/provider/provider.svc.js"></script>
        <script src="src/modules/provider/provider.ctrl.js"></script>

        <script src="src/modules/vehicle/vehicle.mod.js"></script>
        <script src="src/modules/vehicle/vehicle.svc.js"></script>
        <script src="src/modules/vehicle/vehicle.ctrl.js"></script>

        <script src="src/modules/checkout/checkout.mod.js"></script>
        <script src="src/modules/checkout/checkout.svc.js"></script>
        <script src="src/modules/checkout/checkout.ctrl.js"></script>
        
        <script src="src/modules/comment/comment.mod.js"></script>
        <script src="src/modules/comment/comment.svc.js"></script>
        <script src="src/modules/comment/comment.ctrl.js"></script>
        
        <!--Autocomplete from -->
        <script src="http://cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>

        <style type="text/css">
        .bs-example{
                font-family: sans-serif;
                position: relative;
                margin: 100px;
        }
        .typeahead, .tt-query, .tt-hint {
                border: 2px solid #CCCCCC;
                border-radius: 8px;
                font-size: 24px;
                height: 30px;
                line-height: 30px;
                outline: medium none;
                padding: 8px 12px;
                width: 396px;
        }
        .typeahead {
                background-color: #FFFFFF;
        }
        .typeahead:focus {
                border: 2px solid #0097CF;
        }
        .tt-query {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
                color: #999999;
        }
        .tt-dropdown-menu {
                background-color: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                margin-top: 12px;
                padding: 8px 0;
                width: 422px;
        }
        .tt-suggestion {
                font-size: 24px;
                line-height: 24px;
                padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
                background-color: #0097CF;
                color: #FFFFFF;
        }
        .tt-suggestion p {
                margin: 0;
        }
        </style>

    </head>
    <body style="padding-top: 60px;">
        <div class="container-fluid">
            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-bar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#" ng-init = "ctrl.messagesLoad()" ng-controller="messageCtrl as ctrl">mpUsedVehicle</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="main-bar">
                            <ul class="nav navbar-nav">
                                <li><a id="catalog" href="#/catalog">Catalog</a></li>
                                <li><a id="product" href="#/product" >Product</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li><a href="#/catalogProvider">Catalog Provider</a></li>
                            </ul>    
                            <form novalidate class="navbar-form navbar-left" role="search" ng-submit="ctrl.searchByName(vehicle)" ng-controller="productCtrl as ctrl">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search vehicles" ng-model="vehicleName" required>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a  class="dropdown-toggle" id="dropdownMenu1" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                        <span class="glyphicon glyphicon-home" ></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li id="users"><a href="#/users">Registered users<span class="glyphicon glyphicon-user" ></span>  </a></li>
                                        <li><a href="#/listorders">My Orders <span class="glyphicon glyphicon-list-alt" ></span></a></li>
                                        <li><a id="shoppingCart" href="#/shoppingCart">My Shopping Cart <span class="glyphicon glyphicon-shopping-cart" ></span></a></li>
                                        <li><a ng-click = "ctrl.messagesSearch()" ng-controller="messageCtrl as ctrl">My Messages <span class="glyphicon glyphicon-envelope" ></span></a></li>
                                        <li><a href="#/questions">My Questions <span class="glyphicon glyphicon-question-sign" ></span></a></li>
                                    </ul>
                                </li>
                           
                                <li><login-button></login-button></li>
                            </ul>
                        </div> <!-- /.navbar-collapse -->
                    </div> <!-- /.container-fluid -->
                </nav>
            </div>
            <div ng-view></div>
        </div>
    </body>
</html>


<!-- Para Mensajes //-->
<div class="modal fade" id="MessageInbox" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-height:540px auto; max-height:800px auto; max-width:1000px auto; min-width:300px auto;" >

        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Bandeja de Entrada
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" >
                <div class="row">
                    <div class="col-md-2">Usuario
                    </div>
                    <div class="col-md-7">Asunto
                    </div>
                    <div class="col-md-2 " ng-controller="messageCtrl as ctrl">Fecha
                    </div>
                </div>

                <div class="message">
                    <a class="list-group-item"  ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(0)">

                        <span class="name" id = 'Usuario1'></span> 
                        <span class="title" id ="Asunto1"></span> 
                        <span class="text-muted text" id="Preview1"></span> 
                        <span class="badge" id="Date1"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(1)">

                        <span class="name" id = "Usuario2"></span> 
                        <span class="title" id ="Asunto2"></span> 
                        <span class="text-muted text" id="Preview2"></span> 
                        <span class="badge" id="Date2"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(2)">

                        <span class="name" id = "Usuario3"></span> 
                        <span class="title" id ="Asunto3"></span> 
                        <span class="text-muted text" id="Preview3"></span> 
                        <span class="badge" id="Date3"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(3)">

                        <span class="name" id = "Usuario4"></span> 
                        <span class="title" id ="Asunto4"></span> 
                        <span class="text-muted text" id="Preview4"></span> 
                        <span class="badge" id="Date4"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(5)">

                        <span class="name" id = "Usuario5"></span> 
                        <span class="title" id ="Asunto5"></span> 
                        <span class="text-muted text" id="Preview5"></span> 
                        <span class="badge" id="Date5"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(6)">

                        <span class="name" id = "Usuario6"></span> 
                        <span class="title" id ="Asunto6"></span> 
                        <span class="text-muted text" id="Preview6"></span> 
                        <span class="badge" id="Date6"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(7)">

                        <span class="name" id = "Usuario7"></span> 
                        <span class="title" id ="Asunto7"></span> 
                        <span class="text-muted text" id="Preview7"></span> 
                        <span class="badge" id="Date7"></span> <span class="pull-right"></span>
                    </a>
                </div>
                <div class="message">
                    <a class="list-group-item" ng-controller="messageCtrl as ctrl" ng-click = "ctrl.messagesRead(8)">

                        <span class="name" id = "Usuario8"></span> 
                        <span class="title" id ="Asunto8"></span> 
                        <span class="text-muted text" id="Preview8"></span> 
                        <span class="badge" id="Date8"></span> <span class="pull-right"></span>
                    </a>
                </div>





            </div>



            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click = "ctrl.messagesSend()" ng-controller="messageCtrl as ctrl"><span class="glyphicon glyphicon-plus"></span> New Message</button>

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button> 


            </div>

        </div>
    </div>


</div>

<div class="modal fade" id="WriteMessage" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="height:540px; max-height:540px; width:630px; max-width:630px;">
        <div class="modal-content">
            
            <form role="form">
            <!-- Modal Header -->
                <div class="modal-header">
                
                <button type="button" class="close" 
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    New Message
                </h4>
                
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="inputPassword3" >To</label>
                        <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false" ng-model="email" class="col-sm-9" ng-required id="UserName"/></input> </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="inputPassword3" >Subject</label>
                        <input type="email" ng-model="password" class="col-sm-9" ng-required id="Subject"/></input>
                    </div>
                
            </div>
            
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <textarea type="text" class="form-control" rows="4" id="message" style = "width: 90%; margin: 0 auto;"/></textarea>
                    </div>
                </div>  
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click = "ctrl.sendNewMessage()" ng-controller="messageCtrl as ctrl"> Send</button>
                    <button type="button" class="btn btn-default"data-dismiss="modal">Close</button>   
                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade" id="ReadMessage" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
            <!-- Modal Header -->
            <div class="modal-header">

                <button type="button" class="close" 
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="form-group">
                    <h1 class="modal-title" id="MessageTitle"> </h1>
                    <h6 class='col-sm-1'>From: </h6><h4 id="MessageFrom"></h4>
                    <h4 class='col-sm-12' class="alignCenter" id="MessageRead"></h4>
                    <h6 id="MessageDate"></h6>
                </div>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="inputPassword3" >Subject</label>
                    <h6 id="ReplySubject"></h6>

                    <textarea type="text" class="form-control" rows="4" id="reply" style = "width: 90%; margin: 0 auto;"/></textarea>
                </div>
            </div>  
            <!-- Modal Footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" ng-click = "ctrl.sendReply()" ng-controller="messageCtrl as ctrl"> Reply</button>

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>   
            </div>
            </form>

        </div>
    </div>
</div>



