<div>
    <div class="container">
        <h2>Checkout</h2>
        <!--Display Alerts -->
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>                   
                        <th>Product</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in records[0].cartItems">
                        <td><div>{{record.product.vehicle.name}}</div></td>
                        <td><div>{{record.product.price| currency}}</div></td>
                    </tr>
                    <tr>
                        <td><div><strong>Impuestos:</strong></div> </td>
                        <td><div><strong>{{taxes| currency}}</strong></div></td>
                    </tr>
                    <tr>
                        <td><div><strong>Total + Impuestos:</strong></div> </td>
                        <td><div><strong>{{total| currency}}</strong></div></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="togglePaymentMethod()">Elegir Metodo de pago</button>                             
                <br>
            </div>
            <br>
            
            <div id="paymentMethods" >
                <div ng-repeat="method in paymentMethods">
                    {{method.type}}
                    <div ng-repeat="agreement in method.agreements">
                        {{agreement.name}}                  
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="false">
            <div ng-show="confirm">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" ng-click="toggleConfirmation()" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="confirmationModalLabel">
                                Checkout confirmation
                            </h4>
                        </div>
                        <div class="modal-body">
                            Do you really want to buy this product?
                            <button type="button" class="btn btn-default" ng-click="pay()" data-dismiss="modal" >Pay</button>                             
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>